/* Header Design*/
header{
    display: inline-flex;
    width: 100%;
    height: 100px;
}

header .Logo{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin-left: 2%;
    position: relative;
}

header .Logo img{
    height: 100px;
    width: auto;
    border-radius: 50%;
}
nav{
    border: 1px solid red;
    margin-left: 2%;
    width: 100%;
}

nav ul{
    list-style: none;
    display: inline-flex;
    border: 1px solid blue;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}

nav ul li{
    margin: 2%;
    position: relative;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

/* main hero image*/
main .heroImage{
    border: 1px solid black;
    width: 100%;
    height: auto;
    margin-left: 20%;
}

.heroImage img{
    object-fit: contain;
}

/*Hero Image Header*/
.welcomeMessage{
    text-align: center;
}

/* Specialty Drink Form and Image*/
.specialtyDrink{   
    position: absolute;
    z-index: 1;
    border: 1px solid orange;
    margin-top: -700px;
    margin-left: 300px;
    

}

.specialtyDrink img{
    height: 600px;
    width: auto;
}

.specialtyDrink p{
    position: absolute;
    text-decoration: none;
    background-color: #a9fbd7;
    border-radius: 36px;
    width: 75%;
    height: auto;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin-top: -200px;
    margin-left: 50px;
    padding: 5px;
    transition: background-color 1s;
}

.specialtyDrink h2{
    position: absolute;
    margin-top: -550px;
    background-color: #a9fbd7;
    width: 97%;
    text-align: center;
}

.specialtyDrink p a,
h2{
    text-decoration: none;
    color: navy;
    font-weight: bold;
    padding: 5px;
}

.specialtyDrink p:hover{
    background: navy;
    
}

.specialtyDrink p a:hover{
    color: #a9fbd7;
}



/*News*/
.newsBoard{

}

/* Weather Info */
.weatherBoard{

}

/* Popular Specialty Drinks*/
.specialtyDrinks{

}



