body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 20px;
    background-color: #938ba1;
}

header{
    grid-column: 1 / 13;
    grid-row: 1;
    height: 100px;
}

main{
    grid-column: 1 / 13;
    grid-row: 2;
}

footer{
    grid-column: 1 / 13;
    grid-row: 3;
    background-color: #A9fbd7;
}

/* Inside of Header Design*/

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: #938ba1;
}

header img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    grid-column: 1/2;
}

header nav{
    grid-column: 2 / 4;
    margin-left: -30%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-family:'Lobster','Courier New', Courier, monospace;
}

header nav ul{
    font-size: 1.5rem;
    list-style: none;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}

header nav ul a{
    text-decoration: none;
    padding: 20px;
    color: #A9fbd7;
    font-weight: bold;
}

/* Hover over Colors for Header Nav*/

header nav ul a:hover{
    background-color: #A9fbd7;
    color: navy;
    transition: background-color 0.5s ease;
    border-radius: 20px;
    
}

/*Main Section Design*/

main{
    position: relative;
    width: 100%;
}

main .heroImage{
    overflow: hidden;
    text-align: center;
}

.heroImage img{
    width: 500px;
    height: auto; 
}

.welcomeMessage{
    text-align: center;
}

.welcomeMessage h1{
    display: inline-flex; 
}

.welcomeMessage h1:nth-child(1){
    color: white;
    margin-right: 2%;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}
.welcomeMessage h1:nth-child(2){
    color: #a9fbd7;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.welcomeMessage p{
    color: #d7fdec;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

/*Specialty Drink Design*/

.specialtyDrink{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.specialtyDrink img{
    margin-top: -500px;
    margin-left: -200px;
    opacity: .5;
}

.specialtyDrink h2{
    position: absolute;
    z-index: 1;
    margin-top: -1220px;
    margin-left: 2%;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.specialtyDrink p a{
    position: absolute;
    margin: auto;
    margin-top: -1245px;
    margin-left: 520px;
    font-size: 2rem;
    padding: 10px;
    background-color: #938ba1;
    text-decoration: none;
    font-weight: bold;
    color: #A9fbd7;
    border-radius: 15px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.specialtyDrink p a:hover{
    background-color: #A9fbd7;
    color: navy;
    transition: background-color 0.5 ease;
}

/* News Design*/

.newsBoard {
    overflow: hidden;
    height: 300px;
    width: auto;
    margin-bottom: 20px;
}

.newsBoard img{
    opacity: .7;
}

.newsBoard h2{
    position: absolute;
    margin-top: -450px;
    margin-left: 300px;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.newsBoard p{
    position: absolute;
    margin-top: -700px;
    margin-left: 2%;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

/* weather Design*/

.weatherBoard{
    height: 500px;
    overflow: hidden;
}

.weatherBoard img{
    margin-top: -800px;
    opacity: .8;
}

.weatherBoard h2{
    position: absolute;
    margin-top: -1000px;
    margin-left: 200px;
    font-size: 3rem;
    z-index: 1;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.weatherBoard p{
    position: absolute;
    margin-top: -900px;
    margin-left: 250px;
    font-size: 1.5rem;
    margin-bottom: 2%;
    color: #A9fbd7;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

/* Specialty Drink Design*/

.specialtyDrinks{
    display: inline-flex;
    justify-content: space-around;
    height: 300px;
}

.specialtyDrinks h2{
    color: white;
    width: 300px;
    position: absolute;
    margin-left: 150px;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.specialtyDrink1,
.specialtyDrink2,
.specialtyDrink3{
    margin-top: 50px;
}

.specialtyDrink1{
    width: 225px;
    margin-left: 2%;
}
.specialtyDrink2,
.specialtyDrink3{
    width: 225px;
}

.specialtyDrinks h3{
    color: #A9fbd7;
    font-weight: bold;
    font-size: 1.5rem;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

/*footer design*/
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .logo img{
    height: 100px;
    width: auto;
    border-radius: 50%;
    grid-column: 1;
}

footer .personalInfo{
    grid-column: 2;
    display: inline-flex;
    margin: auto;
    width: 300px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

footer .socialMediaLinks{
    text-align: center;
    margin: auto;
}

footer .socialMediaLinks img{
    width: 30px;
    height: auto;
}

footer .refrences{
    grid-column: 4;
    text-align: center;
    margin: auto;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

/* Fresh Page*/
.form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    width: 50%;
    margin: auto;
    background-color: #A9fbd7;
    color: navy;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.orderNow label{
    grid-column: 1;
}

.orderNow input{
    grid-column: 2;
}

input{
    margin-bottom: 20px;
    height: 20px;
    border-radius: 20px;
}

.orderNow h1{
    text-align: center;
    color: #A9fbd7;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.orderNow p{
    text-align: center;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.form select{
    margin-bottom: 20px;
    height: 30px;
    color: navy;
    font-weight: bold;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}
.form #specialInstructions{
    margin-bottom: 20px;
}

.form #submitButton{
    background-color: #A9fbd7;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    color: navy;
    font-weight: bold;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.form #submitButton:hover{
    background-color: #938ba1;
    border-radius: 20px;
    width: 50%;
    margin: auto;
    color: #A9fbd7;
    cursor: pointer;
}

/* About us Page*/

.aboutUs{
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.aboutUs h1:nth-child(1){
    color: white;
    margin-right: 2%;
    margin-left: 200px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.aboutUs h1:nth-child(2){
    color: #A9fbd7;
    margin-right: 2%;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.aboutUs1{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.aboutUs1 img{
    height: 400px;
    width: auto;
}

.text1 h1{
width: 100%;
font-size: 1.75rem;
font-weight: bold;
margin-left: 2%;
color: navy;
font-family:'Lobster','Courier New', Courier, monospace;
}

.text1 p{
    margin-left: 2%;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.aboutUs2{
    display: flex;
    margin-bottom: 20px;
}

.aboutUs2 picture{
    width: 50%;
    margin-left: 2%;
}

.text2{
    width: 50%;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.text2 h1{
    font-weight: bold;
    color: navy;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.aboutUs3{
    display: flex;
    margin-bottom: 20px;
}

.aboutUs3 img{
    width: 400px;
    height: auto;
}

.text3{
    margin-left: 2%;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.text3 h1{
    font-weight: bold;
    color: navy;
    font-family:'Lobster','Courier New', Courier, monospace;
}

.contactUs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.contactUs .localProduce{
    width: 400px;
    margin-right: 20px;
    background-color: #A9fbd7;
    border-radius: 20px;
    font-family:'Josefin Sans','Courier New', Courier, monospace;
}

.contactUs .overseasProduce{
    width: 400px;
    background-color: #A9fbd7;
    margin-right: 20px;
    border-radius: 20px;

}

.contactUs .officeLocation{
    width: 400px;
    background-color: #A9fbd7;
    border-radius: 20px;
}

.contactUsHeader{
    text-align: center;
    color: navy;
    font-weight: bold;
    font-family:'Lobster','Courier New', Courier, monospace;
}
