/* Header Design*/
body{
    background-color: #938ba1;
}
header{
    display: inline-flex;
    width: 900px;
    height: 100px;
    background-color: #a9fbd7;
}

header .Logo{
    height: 100px;
    width: 100px;
    margin-left: 2%;
    position: relative;
}

header .Logo img{
    height: 100px;
    width: auto;
    border-radius: 50%;
}
nav{
    margin-left: 2%;
    width: 100%;
}

nav ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

nav ul li{
    margin: 2%;
    position: relative;
}

nav ul li a{
    text-decoration: none;
   
}

/* main hero image*/
main .heroImage{
    width: 100%;
    height: auto;
    margin-left: 20%;
}

.heroImage img{
    object-fit: contain;
    width: 100%;
}

/*Hero Image Header*/
.welcomeMessage{
    text-align: center;
}

/* Specialty Drink Form and Image*/
.specialtyDrink{   
    position: absolute;
    z-index: 1;
    margin-top: -400px;
    margin-left: 50px;
}

.specialtyDrink img{
    height: auto;
    width: 150px;
}

.specialtyDrink p{
    position: absolute;
    text-decoration: none;
    background-color: #a9fbd7;
    border-radius: 36px;
    width: 75%;
    height: auto;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin-top: -75px;
    margin-left: 15px;
    padding: 5px;
    transition: background-color 1s;
}

.specialtyDrink h2{
    position: absolute;
    margin-top: -200px;
    background-color: #a9fbd7;
    width: 93%;
    text-align: center;
}

.specialtyDrink p a,
h2{
    text-decoration: none;
    color: navy;
    font-weight: bold;
    padding: 5px;
}

.specialtyDrink p:hover{
    background: navy;
    
}

.specialtyDrink p a:hover{
    color: #a9fbd7;
}

/* Welcome Message*/

.welcomeMessage{
    margin-top: 100px;
    margin-left: 200px;
}

/* Weather Info */
.test{
    display: grid;
    grid-template: 1fr 1fr;
    height: 700px;
}

.newsBoard{
    grid-column: 1;
}

.newsBoard img{
    width: 100%;
    height: auto;
    opacity: .8;
}

.weatherBoard{
    grid-column: 2;
}

.weatherBoard p span{
    margin-top: -200px;
}

.weatherBoard img{
    height: 25%;
    width: auto;
    opacity: .75;
}

.weatherBoard p{
    position: absolute;
    margin-top: -400px;
    margin-bottom: 2%;
}

.weatherBoard figure{
    position: absolute;
    margin-top: -400px;
    margin-left: 100px;
}

.weatherBoard h2{
    position: absolute;
    margin-top: -450px;

}


/* Popular Specialty Drinks*/
.specialtyDrinks{
    display: flex;
    justify-content: space-around;
    margin-left: 2%;
}

/* footer desing*/

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    background-color: #a9fbd7;
    border: 1px solid red;
    width: 900px;
}

footer .logo img{
    height: 50px;
    width: auto;
    border-radius: 50%;
}

footer .socialMediaLinks img{
    height: 50px;
    width: auto;
    margin: 20px;
}


/* Fresh Page */

.orderNow{
    text-align: center;
    margin-bottom: 50px;
}

main .form{
    display: grid;
    width: 50%;
    height: auto;
    grid-gap: .5rem;
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
}

main .form label{
    grid-column: 1;
    text-align: left;
}
