@media only screen and (min-width: 60em){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    header nav{
        font-size: 2em;
    }
    .myFace{
        height: 200px;
        width: 200px;
    }
    .Hicks-Law, .RuleOfThirds, .Proximity{
        width: 100%;
    }
    
}