body{
    background-color: #38618c;
}

header{
    height: 200px;
}

nav{
    background-color: #ff5964;
    position: relative;
    width: 100%;
    height: auto;
}

nav img{
    float: left;
    border-radius: 50%;
    height: 15vw;
    width: auto;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    padding-top: 50px;
    font-size: 1.5rem;
}

#actualDate{
    margin-top: 40px;
    text-align: left;
}

nav ul.open{
    display: block;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}

#hamburgerBtn span:nth-child(1){
    display: block;
}

#hamburgerBtn span:nth-child(2){
    display: none;
}

#hamburgerBtn.open span:nth-child(1){
    display: none;
}

#hamburgerBtn.open span:nth-child(2){
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, .5);
    text-align: center;
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, .3);
}


main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
}

main h1{
    grid-column: 2/12;
    grid-row: 1;
    text-align: center;
}

.callToAction{
    grid-column: 1/13;
    grid-row: 2;
    position: relative;
    display: grid;
}

.chamberNews{
    grid-column: 1/13;
    position: relative;
}

.chamberNews img{
    height: 100px;
    width: auto;
    border-radius: 25%;
    float: left;
    margin-right:20px;
    margin-top: -20px;
}

.chamberNews p{
    text-align: left;
    display: block;
    font-size: 1.5rem;
    margin-top: auto;
}

.news1, .news2, .news3{
    position: absolute;
    top: 40%;
    height: 20%;
    width: 30%;
    text-align: center;
    padding: 2px;
    background-color: #ffe74c;
    opacity: 0.85;
}

.news1 p, .news2 p, .news3 p{
    display: none;
}
.news1:hover{
    background-color: #ffe74c;
    opacity: 1;
}
.news2:hover{
    background-color: #ffe74c;
    opacity: 1;
}
.news3:hover{
    background-color: #ffe74c;
    opacity: 1;
}

.news2{
    left: 33%;
    
}

.news3{
    left: 66%;
}

.callToAction img{
    height: auto;
    width: 100%;
    opacity: 0.5;
}

.events{
    grid-column: 1/13;
    position: relative;
    margin-bottom: 20px;
}

.events img{
    height: 100px;
    width: auto;
    border-radius: 25%;
    margin-right:20px;
    margin-top: 70px;
}
.events .eventList{
    display: block;
    width: 50%;
    height: auto;
    float: right;
    font-size: 1.5rem;
    margin-top: 25px;

}


.weather{
    grid-column: 2/12;
    position: relative;
    height: 300px;
}

.weather img{
    width: 100%;
    height: auto;
}

.weather .weatherInfo{
    position: absolute;
    top: 1rem;
    width: 90%;
    height: auto;
    opacity: 0.8;
    background-color: #ffe74c;
    opacity: .8;
}

#windChillTotal{
    border: 1px solid red;
    background-color: #ffe74c;
    opacity: .8;
    font-size: 1.5rem;
}

.spotlights{
    grid-column: 1/13;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}

.mainFooter{
    margin-top: 50px;
    background-color: #ff5964;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
}

.mainFooter .logo{
    grid-row: 1/2;
    grid-column: 2;
    height: 100px;
    position: relative;
}

.mainFooter .logo img{
    height: 100px;
    width: auto;
    margin-left: 25%;
}

footer .personalInfo{
    grid-row: 2;
    grid-column: 1;
}

footer .websiteInfo{
    grid-row: 2;
    grid-column: 2;
}

footer .refrences{
    grid-row: 2;
    grid-column: 3;
}

/* Submit Form */

.chamberSubmitForm{
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
}

.chamberSubmitForm label{
    grid-column: 1;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    padding: 5px;
    width: 250px;
}

.chamberSubmitForm input{
    padding: 5px;
    background-color: #38618c;
    color: white;
}

.chamberSubmitForm textarea{
    background-color:  #38618c;
    color: white;
}

.chamberSubmitForm #dateTime{
    display: none;
}

#submitButton{
    grid-column: 1 / 2;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    background-color: #ffe74c;
    color: black;
}

/* Thank you page */

.thankPage{
    height: 500px;
    width: auto;
}

.thankPage h1{
    color: #ffe74c;
    text-align: center;
}

.thankPage p{
    color: white;
    text-align: center;
}
main{
    margin-top: 200px;
}

/* Directory Designing*/

main {
	margin: 0 auto;
	padding: 0.5rem;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	text-align: center;
}

.menu button {
	padding: 1rem;
}

section {
	margin: 0.75rem;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #ffe74c;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.grid section > * {
	margin: 0.1rem;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0.1rem;
	text-align: left;
}

.list section img {
	display: none;
}

section h3 {
	font-size: 1.5rem;
}

section a {
	font-size: 0.9rem;
}

img {
	height: auto;
	max-width: 100%;
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}

/* weather img */
#weatherIcon{
    margin-right: 0px;
    height: 50px;
    width: auto;
}
